<section id="landing-page">

    <div class="descripcion">

        

        <div class="cont-img-landing">
            <img class="img-muestra" src="img/sitioweb.png" alt="">
        </div>
       
        <div class="texto-descripcion">
            <h2 class="titulo">¿Qué es sitio web?</h2>
            <p>Un sitio web es un conjunto de páginas interconectadas que están disponibles
                    en Internet y que sirven para compartir información, servicios, 
                    productos o contenido con usuarios de todo el mundo. 
                    Es la cara digital de una persona, empresa o proyecto, 
                    y puede adaptarse a diferentes propósitos, 
                    como informar, vender, educar o entretener.</p>
        </div>
    </div>

    <div class="ofrecemos">

        <div class="txt-ofrecemos">

            <h2>¿Qué te ofrecemos?</h2>
        <ul>
            <li>Diseño personalizado y atractivo.</li>
            <li>Optimización para dispositivos móviles.</li>
            <li>Carga rápida.</li>
            <li>SEO básico.</li>
            <li>Integración con redes sociales.</li>
            <li>Fácil administración.</li>
        </ul>
        </div>
        
        <div class="img-ofrecemos">
            <img class="img-ofrecemos" src="img/ofrecemos2.png" alt="">
        </div>
    </div>
    <div class="contacta">
        <button class="btn" (click)="ir_contacto()">Contactanos!</button>
    </div>
</section>
