<section>
<div class="contacto">
<form action="">

    <h2>Contactate con nosotros</h2>

    <div class="datos">
        <label>
          Nombre empresa o particular
          <input formControlName="name" type="text" />
        </label>
       </div>

       <div class="datos">
        <label>
          Email
          <input formControlName="email" type="email" />
        </label>
       </div>

       <div class="datos">
        <label>
          Numero de contacto
          <input formControlName="nro" type="text" />
        </label>
       </div>

       <div class="datos">
        <label>
          Razon de contacto
          <input formControlName="razon" type="text" />
        </label>
       </div>

       <button class="btn">Enviar informacion</button>
      
</form>
</div>

<div class="img-contacto">
    <img src="img/contactanos.png" alt="">
</div>

</section>