<section class="presentacion">

    <div class="info-presentacion">
        <h1>Imanol Sayago</h1>
        <img class="img" src="img/pcinicio.png" alt="">

        <p class="texto-escrito">{{textoMostrado}}</p>
    </div>

    <div class="flecha" (click)="navegar_info()">⬇</div>
</section>

<section id="servicios">

    <h3>Servicios ofrecidos</h3>
<div id="servicios" class="cont-info">

    
    <div class="informacion">
        <h2>Landing page</h2>
        <img class="img-info" src="img/landing2.png" alt="">
        <button (click)="navegar_landing()">Ver informacion</button>
    </div>

    <div class="informacion">
        <h2>Sitio web</h2>
        <img class="img-info" src="img/web.png" alt="">
        <button (click)="navegar_info_sitio()">Ver informacion</button>
    </div>

    <div class="informacion">
        <h2>E-commerce</h2>
        <img class="img-info" src="img/ecommerce.png" alt="">
        <button (click)="navegar_info_ecommerce()">Ver informacion</button>
    </div>

</div>
</section>

<section class="sobre-mi">

        <h3>¿Quien soy?</h3>

    <div class="informacion-sobremi">

        <div class="txt-info">

                <p>Hola, soy Imanol Sayago, programador FullStack con pasión por el desarrollo de soluciones tecnológicas innovadoras. Estoy en pleno crecimiento profesional,
                 buscando siempre aprender y adaptarme a nuevas tecnologías y desafíos. Me especializo en crear aplicaciones web eficientes y escalables, 
                 tanto en el frontend como en el backend,siempre con el objetivo de brindar la mejor experiencia al usuario y resultados efectivos para los proyectos.
                 </p>
        </div>

        <div class="info-img">
                <img src="img/imanolprofesionalrecortafda.jpg" class="img-mi" alt="">   
        </div>
    </div>
    <a class="cv" href="cv/CVImanolProgramador.pdf">Ver CV</a>
</section>
