<footer class="footer">
    <div class="info-footer">
        <ul>
            <li>
                <img class="img-footer1" src="img/ig.png" alt="">
                <a class="texto-lista" href="https://www.instagram.com/imasayago/" target="_blank">Instagram</a>
            </li>
            <li>
                <img class="img-footer" src="img/linkedin.png" alt="">
                <a class="texto-lista" href="https://www.linkedin.com/in/imanol-sayago-37ab5027a/" target="_blank">LinkedIn</a>
            </li>
            <li>
                <img class="img-footer" src="img/github.png" alt="">
                <a class="texto-lista" href="https://github.com/ImanolSayago" target="_blank">Github</a>
            </li>
        </ul>
    </div>


    <div class="info-footer">
        <ul>
            <li>
                <a class="texto-lista" href="">Nro contacto: 2265418648</a>
            </li>
            <li>
                <a class="texto-lista" href="">Email: Imanolsayago0gmail.com</a>
            </li>
            <li>
                <a class="texto-lista" href="">Ciudad: Mar del Plata</a>
            </li>
        </ul>
    </div>


    <div class="info-footer">
        <ul>
            <li>
                <a class="texto-lista" href="">Inicio</a>
            </li>
            <li>
                <a class="texto-lista" href="">Servicios</a>
            </li>
            <li>
                <a class="texto-lista" href="">Sobre mi</a>
            </li>
        </ul>
    </div>


</footer>
