<section id="landing-page">

    <div class="descripcion">

        <div class="texto-descripcion">
            <h2 class="titulo">¿Qué es un <br> E-Commerce?</h2>
            <p>     Un e-commerce, o comercio electrónico, es una plataforma digital diseñada para comprar y vender productos o servicios a través de Internet. 
                    Este tipo de sitios permite que los usuarios realicen transacciones de manera rápida, segura y cómoda desde cualquier lugar.
                    En un e-commerce podés encontrar catálogos de productos, opciones de pago en línea, seguimiento de pedidos y muchas herramientas más para facilitar la experiencia del usuario.</p>
        </div>

        <div class="cont-img-landing">
            <img class="img-muestra" src="img/ecommerceejemplo.png" alt="">
        </div>
       
    </div>

    <div class="ofrecemos">

        <div class="txt-ofrecemos">

            <h2>¿Qué te ofrecemos?</h2>
        <ul>
            <li>Diseño personalizado y atractivo.</li>
            <li>Catalogos dinamicos.</li>
            <li>Carrito de compras.</li>
            <li>Seguimiento de pedidos.</li>
            <li>Rendimiento optimizado para carga rápida.</li>
            <li>Diseño responsive para todo tipo de dispositivos.</li>
            
        </ul>
        </div>
        
        <div class="img-ofrecemos">
            <img class="img-ofrecemos" src="img/queofrecemos.png" alt="">
        </div>
    </div>
    <div class="contacta">
        <button class="btn" (click)="ir_contacto()">Contactanos!</button>
    </div>
</section>