<section id="landing-page">

    <div class="descripcion">

        <div class="texto-descripcion">
            <h2 class="titulo">¿Qué es una <br> Landing Page?</h2>
            <p>Una Landing Page es una página web diseñada con un único propósito: captar la atención del usuario y convertirlo en cliente. 
            A través de un diseño limpio, llamado a la acción (CTA) claro, y contenido atractivo, se busca que el visitante realice una acción específica, 
            como registrarse, comprar un producto o descargar algo.</p>
        </div>

        <div class="cont-img-landing">
            <img class="img-muestra" src="img/ejemplo_landing.jpg" alt="">
        </div>
       
    </div>

    <div class="ofrecemos">

        <div class="txt-ofrecemos">

            <h2>¿Qué te ofrecemos?</h2>
        <ul>
            <li>Diseño personalizado y atractivo.</li>
            <li>Optimización para conversiones.</li>
            <li>Integración con plataformas de marketing.</li>
            <li>Rendimiento optimizado para carga rápida.</li>
            <li>Diseño responsive para todo tipo de dispositivos.</li>
        </ul>
        </div>
        
        <div class="img-ofrecemos">
            <img class="img-ofrecemos" src="img/queofrecemos.png" alt="">
        </div>
    </div>
    <div class="contacta">
        <button class="btn" (click)="ir_contacto()">Contactanos!</button>
    </div>
</section>

